* {
  font-family: 'Roboto', sans-serif;
}

h4 {
  color: #004D40;
  letter-spacing: 0.05em;;
}
.App {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

body {
  background-color: #fff;
  margin-left: 25px;
}

:focus {
  outline: none;
}