* {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

/*--------- Text Field ----------*/

body {
  background-color: #fff;
  margin-left: 25px;
}

:focus {
  outline: none;
}

.container {
  width: 200px;
  position: relative;
}

input[type="text"] {
  width: 100%;
  font-size: 16px;
  height: 1.5em;
 
}

.input {
  border: 0;
  padding: 19px 0;
  background-color:  rgb(233, 231, 231);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(138, 43, 226);
}

.input > label {
  position: absolute;
  left: 20px;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.05em;
  transition: all .1s ease-in-out;
}

.input:focus ~ .border {
  width: 100%;
  transition: 0.001s;
}

.input:focus {
  background-color: rgb(207, 204, 204);
}

label.field-active {
  transform: translateY(-12px);
  color: rgb(138, 43, 226);
  font-size: 0.4em;
}

